# Artifacts from imports
__pycache__

# Packaging directories
build/
dist/
contract_schema.egg-info/
.virtual_documents/

# Files for testing in Jupyter lab
.ipynb_checkpoints/
Untitled.ipynb

# Test output files
iris_rf.joblib
iris_model_manifest.json
iris_analytic_report.json