# Artifacts from imports
__pycache__

# Packaging directories
build/
dist/
contract_schema.egg-info/
.virtual_documents/

# Artifacts from testing in Jupyter Lab
.ipynb_checkpoints/
Untitled.ipynb

# Artifacts from testing
iris_rf.joblib
iris_model_manifest.json
iris_analytic_report.json
iris_analytic_report.md
iris_model_report.md

# Artifacts from dev work
digest.txt