.ipynb_checkpoints/
contract_schema/__pycache__/
build/
dist/
contract_schema.egg-info/
.virtual_documents/
Untitled.ipynb
example_model.py
iris_rf.joblib
tests/analytic/__pycache__/*
tests/model/__pycache__/*
iris_model_manifest.json
iris_analytic_report.json